GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=YOUR_PROJECT_ID_HERE
GOOGLE_CLOUD_LOCATION=us-central1
DB_HOST=ALLOYDB_PRIVATE_IP_HERE
DB_PORT=5432
DB_NAME=resumatch
DB_USER=postgres
DB_PASSWORD=YOUR_DB_PASSWORD_HERE
